@font-face {
    font-family: 'Ubuntu Mono';
    font-style:  normal;
    font-weight: 400;
    src: url("fonts/UbuntuMono-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style:  normal;
    font-weight: 700;
    src: url("fonts/UbuntuMono-Bold.ttf") format("truetype");
    font-display: swap;
}

html {
    font-size: 1.25em;
    font-family: 'Ubuntu Mono', Monaco, Consolas, monospace;
    letter-spacing: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

body {
    display: flex;
}

nav {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 175px;
}

nav > figure {
    width: 80%;
    margin: 0px;
    padding-bottom: 0.5em;
}

nav > figure > a > img {
    height: 150px;
    width: 150px;
}

nav > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: fit-content;
    height: 100%;
    margin: 0 1em 0 0;
}

main > header > h1 {
    margin: 1em 0 0 0;
}

main > article {
    padding: 0 1em 0 0;
}

main > article > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > article > figure > img {
    width: 50%;
}

main > article > figure > iframe {
    width: 100%;
}

main > article > figure > figcaption {
    color: gray;
    font-size: 0.75em;
}

main > article > figure > figcaption > p {
    margin: 0 0 1em 0;
}

blockquote {
    padding: 0 0 0 0.25em;
    border-left: 0.25em solid black;
}

li {
    margin: 0.2em 0;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

pre[class*="language-"] {
    padding: 0.5em;
    overflow: auto;
    font-size: 80%;
    border-radius: 6px;
    line-height: 1.2em;
    background: #f6f8fa;
}
.token.string {
    color: #3e5c00;
}

@media screen and (max-width: 750px) {
    body {
        flex-direction: column;
    }

    nav {
        max-width: 100%;
        flex: 0
    }

    nav > figure {
        max-width: 8em;
    }

    nav > div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav > div > a {
        margin: 0 10px;
        flex: 1 1 25%;
        display: flex;
        justify-content: center;
    }

    main {
        padding: 0 0.5em;
        word-wrap: break-word;
    }

    main > header > h1 {
        margin: 0 0 0.25em 0;
    }

    main > article {
        padding: 0;
    }

    main > article > figure {
        margin: 0;
    }

    main > article > figure > img {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    nav > div > a {
        flex: 1 1 100px;
    }
}

.sources {
    margin-top: 0;
    font-size: 0.85rem;
}
.sources * {
    display: inline;
    margin: 0;
}
