{{ if .Params.usage }}
{{ $usage  := replaceRE "^\\s*" "$1" .Params.usage  }}
{{ $output := replaceRE "^\\s*" "$1" .Params.output }}
<!-- {{ $output := .Params.output }} -->
{{ if ge (len $usage) 1 }}
<div class="gist-usage gist-code">
    <span style="font-size: 1.25rem;">Usage</span>
    <div class="highlight">
        <pre class="command-line language-bash chroma" data-user="joshua" data-host="localhost" data-output="2-9999" tabindex="0" role="region" aria-label="code sample">
            <code class="language-bash">
                {{ $usage  | markdownify }}
                {{ $output | plainify    }}
            </code>
        </pre>
    </div>
</div>
{{ end }}
{{ end }}