{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
</header>

<div class="date">
    {{ $dateFormat := $.Site.Params.lastMod | default "Jan 2, 2006" }}
    {{ $publishDate := .PublishDate }}
    <strong aria-hidden="true">Last Modified: </strong>{{ $publishDate.Format $dateFormat }}
</div>

{{ partial "gist-description" . }}

<div class="gist-code line-numbers">
{{ .Content }}
</div>

{{ partial "gist-usage" . }}

{{ partial "gist-test" . }}

<!-- {{ partial "gist-output" . }} -->

{{ end }}
